<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<% if (typeof successMessage !== 'undefined') { %>
		<p class="message"><%= successMessage %></p>
		<% } %>
		<form method="POST">
			<div class="form-gp">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" value="<%= username %>" required />
			</div>
			<div class="form-gp">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" value="<%= password %>" required />
			</div>
			<button type="submit" class="submit-btn">Create User</button>
		</form>
	</body>
</html>
